@charset "utf-8";

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family:arial;
}

.wrapper {
  max-width:1024px;
  margin:0 auto;
  background-color:#C7EFF3;
}

#inputFormDiv {
  width:100%;
  padding-top:15px;
}

#inputCRUDDiv {
  width:100%;
  padding-top:15px;
}

#userInputFieldset{
  padding-bottom:10px;
  background-color: #F8EF9C;
}

legend {
  text-align: center;
  color:red;
  font-size:20px;
  font-weight: bold;
  text-decoration: italic;
}

#crudLegend {
  text-align: center;
  color:blue;
  font-size:20px;
  font-weight: bold;
  text-decoration: italic;
}

#labelInputBox {
  display: inline-block;
  width: 100%;
  text-align:center;
  margin-top: 10px;
}

#userInputBox {
  width:90%;
  height:25px;
  background-color:#DBDBDB;
  text-align:center;
  margin-top:10px;
  margin-left:5%;
  border-radius:5px;
}

.submitDiv {
  width:30%;
  margin:0 auto;
  margin-top:15px;
  text-align: center;
}

#resultsListDiv {
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
  background-color: #28FB46;
  float:left;
}

#resultDiv {
  width:100%;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #44F8DF;
  border: 1px solid grey;
  float:left;
}

#initialP{
  color:green;
}

#inputButtonReload {
  width:50%;
  margin-top:0;
  margin-bottom:10px;
  background-color:#DBDBDB;
  text-align:center;
  border-radius:5px;
  font-size:15px;
}

.userButtonSubmit {
  width:50%;
  background-color:#DBDBDB;
  text-align:center;
  border-radius:5px;
  font-size:15px;
}

#inputP {
  color:brown;
}

#inputTextDiv {
  color:orange;
  margin-bottom: 10px;
  border: 2px solid gray;
  background-color: blue;
  text-decoration: bold;
}

#randomNumberSpan {
  color:white;
}

#numNumberSpan {
  color:white;
}

#crudFieldset{
  padding-bottom:10px;
  padding-top: 10px;
  background-color: #F1BCF8;
}

.labelsCRUD {
  display: inline-block;
  width: 30%;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  padding-right: 10px;
}

.crudDivs {
  width:50%;
  float:left;
  text-align:center;
  margin-bottom:8px;
  border:2px solid gray;
  border-radius: 5px
}

.crudInputs {
  width:50%;
  background-color:#DBDBDB;
  text-align:center;
  margin-left:5%;
  border-radius:5px;
}

#crudCNInputBox {
  color:red;
  font-weight: bold;
}

.updateLink {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: .7rem;
  cursor:pointer;
}
.deleteLink {
  text-decoration: none;
  padding-right: 15px;
  font-size: .7rem;
  color: red;
  cursor:pointer;
}

.showCRUDDivs {
  width:100%;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #44F8DF;
  color:#FC07DC;
  font-weight: bold;
  border: 1px solid grey;
  float:left;
}

/*------------------------------------clear fix----------------------------------------*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}